*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
/androidApp/key


###### Custom #############################
.exclude


###### Idea ###############################
*.ipr
*.iws

###### Android #############################
out/

##### OS Specific ##########################
Thumbs.db
